.container {
    margin: 60px;
}

footer {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-top: 10px;
    height: 7px;
    padding: 10px 0 20px;
}

footer p {
    margin: 0;
}
